@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary-color: #e30b13;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	margin: 0;
	padding: 0;
	@apply bg-gray-900;
	font-family: 'Outfit', serif;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}


